.vs/
ContentManagerStudio/bin/
ContentManagerStudio/1908271918 dani_credentials.json.zip
ContentManagerStudio/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
packages/
ContentManagerStudio/obj/
readme.txt
