<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="97.1.6" targetFramework="net48" />
  <package id="cef.redist.x86" version="97.1.6" targetFramework="net48" />
  <package id="CefSharp.Common" version="98.1.210" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="97.1.61" targetFramework="net48" />
  <package id="Google.Apis" version="1.55.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.55.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.55.0" targetFramework="net48" />
  <package id="Google.Apis.Discovery.v1" version="1.55.0" targetFramework="net48" />
  <package id="Google.Apis.Drive.v3" version="1.55.0.2566" targetFramework="net48" />
  <package id="Google.Apis.Gmail.v1" version="1.55.0.2510" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>